@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @screen portrait {
    .portrait-drawer {
      width: 100%;
    }
  }

  @screen landscape {
    .landscape-drawer {
      width: 75%;
      /* min-height: 100vh; */
      /* max-height: 100vh; */
      /* overflow-y: auto; */
      /* height: 75%; */
    }
  }
}

body {
  height: 100dvh;
  overflow-x: hidden;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--secondary) var(--primary);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 15px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  @apply opacity-100; /* Make the buttons always visible */
}
